/*Font Family Used In Website*/
/*Montserrat (Integrated From Google Fonts Library)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


 body {
 	font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
 	overflow-x: hidden;
 }

 body .container {
 	width: 100%;
 	max-width: 1170px;
 }

 body img {
 	max-width: 100%;
 }

section , header , footer {
    float: left;
    width: 100%;
}

a {

    cursor: pointer !important;
    display: inline-block;
    text-decoration: none !important;
}

a , button , input[type="submit"] {
        transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}


.custom-scroll1::-webkit-scrollbar-track
{
 
 
    background-color: #F5F5F5;
}

.custom-scroll1::-webkit-scrollbar
{
    width: 8px;
    background-color: #00b22d;
}

.custom-scroll1::-webkit-scrollbar-thumb
{
 
 
    background-color: #d8d8d8;
}



.col-white {
	color:white !important;
}
.col-black {
	color:black !important;
}
.col-blue1 {
	color:#446f9c !important;
}

.bg-white {
	background:white !important;
}

.bg-black {
	background:black !important;
}




.pad-top-20 {
	padding-top: 20px !important
}
.pad-top-40 {
	padding-top: 40px !important
}
.pad-top-60 {
	padding-top: 60px !important
}
.pad-top-80 {
	padding-top: 80px !important
}
.pad-top-100 {
	padding-top: 100px !important
}
.pad-top-120 {
	padding-top: 120px !important
}


.pad-bot-20 {
	padding-bottom: 20px !important
}
.pad-bot-40 {
	padding-bottom: 40px !important
}
.pad-bot-60 {
	padding-bottom: 60px !important
}
.pad-bot-80 {
	padding-bottom: 80px !important
}
.pad-bot-100 {
	padding-bottom: 100px !important
}
.pad-bot-120 {
	padding-bottom: 120px !important
}

.m-b-10 {
	margin-bottom: 10px !important
}
.m-b-15 {
	margin-bottom: 15px !important
}
.m-b-20 {
	margin-bottom: 20px !important
}
.m-b-25 {
	margin-bottom: 25px !important
}
.m-b-30 {
	margin-bottom: 30px !important
}
.m-b-40 {
	margin-bottom: 40px !important
}
.m-b-50 {
	margin-bottom: 50px !important
}
.m-b-60 {
	margin-bottom: 60px !important
}


.m-t-10 {
	margin-top: 10px !important
}
.m-t-15 {
	margin-top: 15px !important
}
.m-t-20 {
	margin-top: 20px !important
}
.m-t-25 {
	margin-top: 25px !important
}
.m-t-30 {
	margin-top: 30px !important
}
.m-t-40 {
	margin-top: 40px !important
}
.m-t-50 {
	margin-top: 50px !important
}
.m-t-60 {
	margin-top: 60px !important
}


.no-margin {
	margin:0px !important;
}
.no-pad {
	padding:0px !important;
}


.modal-dialog {
    top: 50%;
    margin: 0px auto !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) !important;
}

 section.copyrights-sec {
    background: #14161f;
    padding: 15px 0px;
    text-align: center;
}
section.copyrights-sec span {
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
}

footer {
    padding: 60px 0px 70px 0px;
}
.footer-logo {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.footer-logo a img {
    width: 150px;
    margin-bottom: 8px;
}
.footer-logo a {
    color: black;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 15px;
}

.footer-row {
    display: flex;
    align-items: start;
    justify-content: end;
    grid-gap: 25%;
}
.social-follow {
    float: left;
    width: 100%;
}
.social-follow h3 {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 600;
}
.social-follow ul {
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: start;
    grid-gap: 10px;
}
.social-follow ul a {
    color: #446f9c;
    font-size: 15px;
}

.footer-head {
    color: #446f9c;
    font-weight: 600;
    font-size: 18px;
    margin: 25px 0px 15px 0px;
    letter-spacing: 0.3px;
}

.footer-block ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.footer-block ul li a {
    color: #1d202c;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.footer-block ul li {
    margin-bottom: 4px;
}


.footer-block ul li a:hover {
	color:#446f9c;
}
.sec-head1 h3 {
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
}
.sec-head1 h3 span {
    font-weight: 600;
}

.tech-box {
    float: none;
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #446f9c;
    max-width: 320px;
    margin: auto;
    height: 330px;
}

.tech-box svg {
    color: #446f9c;
    font-size: 30px;
    margin-bottom: 10px;
}

.tech-box h4 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.tech-box p {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 25px;
    margin: 0px;
}

.line-box1 {
    display: block;
    max-width: 320px;
    margin: auto;
    margin-bottom: 40px;
}

.line-box1 h4 {
    margin: 0px;
    color: #446f9c;
    font-size: 16px;
    letter-spacing: 0.2px;
    padding-left: 20px;
}

.line-box1 h4 span {
    height: 40px;
    display: block;
    border-left: 2px solid #446f9c;
    font-size: 0px;
    margin-left: 8px;
    margin-bottom: 4px;
}

.custom-block1 {
    background: #446f9c;
    float: left;
    width: 100%;
}
.custom-image1 {
    float: left;
    width: 100%;
}
.center-row1 {
	align-items: center;
}

.custom-image1 img {
    width: 93%;
    border-radius: 0px 40px 0px 0px;
}
.custom-image2 {
    float: left;
    width: 100%;
    padding-left: 150px;
    margin-bottom: 50px;
}
.custom-image2 img {
    width: 80px;
    margin-top: -40px;
    border-radius: 100%;
}

.textual-sec {
    float: left;
    width: 100%;
    margin-left: -22px;
    padding-right: 30px;
}

.textual-sec h3 {
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.5px;
}
.textual-sec p {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 26px;
}

.custom-btn1 {
    color: #446f9c;
    background: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 11px 32px;
    border-radius: 30px;
}
.custom-btn1 svg {
    font-size: 20px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 5px;
    margin-right: -5px;
}

.bg-sec1 {
    background-image: url(../images/bg-1.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100px;
}

.bg-sec2 {
    background-image: url(../images/bg-2.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}
.custom-image3 {
    float: left;
    width: 117%;
    max-width: 118%;
}
.custom-image3 img {
    width: 100%;
}

.way-box {
    float: left;
    width: 100%;
    border: 1px solid #446f9c;
    padding: 25px 25px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.way-box:hover {
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px #dddddd;
}



.way-box h4 {
    font-size: 18px;
    letter-spacing: 0.4px;
    font-weight: 600;
    margin-top: 5px;
}
.way-box p {
    margin: 0px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.showcase-box {
    width: 116%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-gap: 30px;
    background-image: url(../images/bg-3.jpg);
    background-position: top center;
    background-size: 40%;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
.showcase-box img {
    width: 45%;
}
.textual-sec2 h3 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 0.5px;
}

.textual-sec2 p {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 26px;
}

.textual-sec2 {
    float: left;
    width: 100%;
}



section.banner-sec {
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    padding: 200px 0px 160px 0px !important;
}

.banner-text h3 {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 71px;
    margin-bottom: 30px;
}

.banner-text p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    max-width: 500px;
    line-height: 28px;
}

.banner-form {
    width: 100%;
}

.banner-form form {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field-style1 {
    height: 50px;
    width: 75%;
    padding: 0px 15px;
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.submit-btn1 {
    height: 50px;
    padding: 0px 25px;
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: #446f9c;
    color: white;
}

header {
    position: fixed;
    top: 25px;
    z-index: 99;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.header-fixed header {
    top: 0px;
    background: #000000;
}

.header-row {
    background: #000000;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-btn2 {
    color: white;
    background: #446f9c;
    padding: 18px 25px;
    font-size: 16px;
    font-weight: 500;
}

.custom-btn2:hover {
    background:white;
    color:#446f9c;
}

.navbar-custom {
    display: flex;
}
.menu-item>a {
    color: white !important;
    font-size: 15px;
    padding: 15px 30px;
}
.menu-item>a svg {
    font-size: 16px;
    margin: -1px 0px 0px 5px;
    vertical-align: middle;
}

.submit-btn1:hover {
    background:black;
}

.navbar-handler {
    display: none;
}


section.growth-sec {
    background-image: url("../images/bg-growth.jpg");
    background-size: cover;
    padding:150px 0px 110px 0px;
    background-position: top center;
}

.sec-head2 h3 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.field-style2 {
    width: 100%;
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
    padding: 0px 10px;
    height: 45px;
}
.form-field2 {
    display: block;
    margin-bottom: 35px;
}
.submit-btn2 {
    background: white;
    border: none;
    width: 100%;
    height: 45px;
    font-weight: 600;
    color: #446f9c;
    font-size: 16px;
}


.field-style2::placeholder {
    color:white;
}
.form-block {
    display: block;
    max-width: 1000px;
    margin: auto;
}

.submit-btn2:hover{
background:black;
 color: white;
}


.custom-block2 {
    float: left;
    width: 100%;
    background: white;
    padding: 30px 35px;
    box-shadow: 1px -16px 28px #e9e9e9;
    margin-bottom: -80px;
    z-index: 9;
    position: relative;
}
.textual-sec3 h3 {
    font-weight: 600;
    font-size: 42px;
    letter-spacing: 0.5px;
}
.textual-sec3 p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 24px;
    max-width: 460px;
}

.textual-sec3 {
    float: left;
    width: 100%;
    padding: 0px 30px 0px 0px;
}


.review-box {
    background: #f1fcff;
    padding: 25px 30px;
}
.review-desc {
    display: block;
    margin-bottom: 30px;
}
.review-desc h4 {
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.review-desc p {
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 22px;
    font-weight: 500;
}
.review-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-name h4 {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0px 2px 0px;
}
.review-name p {
    margin: 0px;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.star-onn {
    color: #fecd04;
}

.star-off {
    color: #d4d4d4;
}


.menu-item {
    position: relative;
}

.sub-menu {
    position: absolute;
    background: none;
    padding: 20px 15px 15px 15px;
    list-style: none;
    background: black;
    top: 100%;
    min-width: 220px;
    margin: 0px;
    display: none;
}

.sub-menu li a {
    display: block;
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: 0.3px;
    border-bottom: 1px solid silver;
    padding: 0px 0px 6px 0px;
}


.sub-menu li {
    margin-bottom: 6px;
}



.sub-menu li:nth-last-child(1) {
    margin-bottom: 0px;
}



.menu-item:hover .sub-menu {
    display: block;
}
.menu-item:hover>a {
    background:#446f9c;
}


.sub-menu li a:hover {
    color:white;
    border-bottom: 1px solid white;
}
 
.demo-video-block iframe {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: block;
    height: 400px;
    box-shadow: 1px 1px 20px silver;
}
.plain-box {
    float: left;
    margin-bottom: 50px;
    text-align: center;
    padding: 0px 20px;
}

.plain-box h3 {
    font-weight: 600;
    font-size: 25px;
    margin: 0px 0px 15px 0px;
    letter-spacing: 0.2px;
}

.plain-box p {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 23px;
 
}

html {
    scroll-behavior:Smooth;
}

.footer-bottom-left>span {
    text-align: left !important;
    display: block;
}
.footer-bottom-right {
    text-align: right;
}
.footer-bottom-right a {
    color: white;
    font-size: 14px;
    margin-left: 15px;
}

.white-papers-box {
    float: left;
    width: 100%;
    padding: 20px 25px;
    border: 1px solid #dfdfdf;
    background: #f6f7f9;
    margin-bottom: 30px;
}
.white-papers-box h3 {
    font-size: 20px;
    margin: 0px 0px 12px 0px;
    font-weight: 600;
}

.custom-btn3 {
    background: #446f9c;
    color: white;
    padding: 6px 15px;
    letter-spacing: 0.5px;
}

.custom-btn3:hover {
    background:black !important ;
    color:white !important;
}

.files-row {
        align-items: center;
    justify-content: center;
}

/*Media Queries Of Website*/

/*Small Laptops*/
@media screen and (max-width:992px) and (min-width:768px) { 

.textual-sec h3 {
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 0.5px;
}
.tech-box {
    float: none;
    width: 100%;
    padding: 20px 20px;
    border: 1px solid #446f9c;
    max-width: 320px;
    margin: auto;
    height: auto;
    min-height: 400px;
}
.textual-sec2 h3 {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.sec-head1 h3 {
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
}
.banner-text h3 {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 58px;
    margin-bottom: 25px;
}
.menu-item>a {
    color: white;
    font-size: 15px;
    padding: 12px 15px;
}
.custom-btn2 {
    color: white;
    background: #446f9c;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 500;
}
.footer-row {
    display: flex;
    align-items: start;
    justify-content: end;
    grid-gap: 16%;
}
}


/*Tablet Devices*/
@media screen and (max-width:767px) and (min-width:520px) { 

.footer-row {
    flex-flow: wrap;
    grid-gap: 0px;
    justify-content: start;
    grid-row-gap: 20px;
}
.footer-block {
    width: 50%;
}
.textual-sec {
    float: left;
    width: 100%;
    margin-left: 0px;
    padding: 40px 20px;
}
.textual-sec h3 {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.textual-sec p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 25px;
}
.custom-image1 img {
    width: 93%;
    border-radius: 0px 40px 0px 0px;
    max-width: 400px;
}
.sec-head1 h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
}
.showcase-box {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    background-position: center center;
    background-size: 200px;
    background-repeat: no-repeat;
    padding: 80px 0px;
}
.textual-sec2 {
    text-align: center;
    margin-top: 30px;
}
.textual-sec2 h3 {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.custom-image3 {
    float: left;
    width: 100%;
    max-width: 118%;
    margin-bottom: 30px;
}
.way-box {
    text-align: center;
}
.social-follow {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.banner-text h3 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 50px;
    margin-bottom: 25px;
}
.banner-text {
    text-align: center;
}
.banner-text h3 br {
    display: none;
}
.banner-form form {
    margin: auto;
}
.header-row {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}
.navbar-custom {
    display: block;
    float: left;
    width: 100%;
    display: none;
    margin: 25px 0px 0px 0px;
}
.menu-item>a {
    color: white;
    font-size: 15px;
    padding: 10px 10px;
}

.custom-btn2 {
    color: white;
    background: #446f9c;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
}
.header-btn {
    float: left;
    width: auto;
    position: absolute;
    right: 55px;
    top: 23px;
}
.navbar-handler {
    display: block;
    float: right;
    margin-top: 25px;
}
.logo {
    float: left;
}
.navbar-trigger {
    background: none;
    border: none;
    padding: 0px;
    width: 27px;
}
.form-block {
    max-width: 500px;
}
.sec-head2 h3 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.textual-sec3 h3 {
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 0.5px;
}
.textual-sec3 {
    float: left;
    width: 100%;
    padding: 0px 30px 0px 0px;
    margin-bottom: 30px;
}
.menu-item>a {
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    display: block;
    width: 100%;
}
.sub-menu {
    position: static;
    padding: 10px 0px 25px 10px;
}
}




/*Mobile Devices*/
@media screen and (max-width:519px) and (min-width:320px) { 

.footer-row {
    flex-flow: column;
}

.sec-head1 h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
}
footer {
    padding: 60px 0px 70px 0px;
    text-align: center;
}
.footer-block {
    width: 100%;
    margin-bottom: 10px;
}
.social-follow ul {
    justify-content: center;
}
.textual-sec {
    float: left;
    width: 100%;
    margin-left: 0px;
    padding: 40px 20px;
}
.textual-sec h3 {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.textual-sec p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 25px;
}
.tech-box {
    height: auto;
}
.custom-image3 {
    width: 100%;
    margin-bottom: 30px;
}
.way-box {
    text-align: center;
}
.showcase-box {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content:center;
    grid-gap: 20px;
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 80px 0px;
}
.textual-sec2 {
    text-align: center;
    margin-top: 30px;
}
.textual-sec2 h3 {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.banner-text h3 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 50px;
    margin-bottom: 25px;
}
.banner-text {
    text-align: center;
}
.banner-text h3 br {
    display: none;
}
.header-row {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 10px;
}
.navbar-custom {
    display: block;
    float: left;
    width: 100%;
    display: none;
    margin: 25px 0px 0px 0px;
}
.menu-item>a {
    color: white;
    font-size: 15px;
    padding: 10px 10px;
}

.custom-btn2 {
    color: white;
    background: #446f9c;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
}
.header-btn {
    float: left;
    width: auto;
    position: absolute;
    right: 55px;
    top: 23px;
}
.navbar-handler {
    display: block;
    float: right;
    margin-top: 25px;
}
.logo {
    float: left;
}
.navbar-trigger {
    background: none;
    border: none;
    padding: 0px;
    width: 27px;
}
.sec-head2 h3 {
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.field-style2 {
    width: 100%;
    background: none;
    border: none;
    font-size: 15px;
    color: white;
    border-bottom: 1px solid white;
    padding: 0px 10px;
    height: 40px;
}
.form-field2 {
    display: block;
    margin-bottom: 25px;
}

.custom-block2 {
    padding: 30px 20px;
}
.textual-sec3 {
    float: left;
    width: 100%;
    padding: 0px;
}
.textual-sec3 h3 {
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}
.textual-sec3 {
    float: left;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
}
.menu-item>a {
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    display: block;
    width: 100%;
}
.sub-menu {
    position: static;
    padding: 10px 0px 25px 10px;
}
.demo-video-block iframe {
    height: 300px;
}
.footer-bottom-right {
    text-align: center;
    margin-bottom: 10px !important;
}
.footer-bottom-left>span {
    text-align: center !important;
    display: block;
}
}
.mh-310{
    min-height: 310px;
}
.blue-bg{
    background:#446F9C;
}
.icon-box {
    background: #ffffff;
    color: #446f9c;
    text-align: center;
    padding: 25px 10px;
    border-radius: 14px;
}
.p-160 {
    padding-top: 160px;
}footer { 
    border-top: 1px solid #e4e4e4;
}
.icon-box h3{
    color: #414141;
}
.icon-box i{
    font-size:20px
}